@model SocialProject.WebUI.Models.ContactViewModel



<div class="section full pe-3 ps-4 pt-4 position-relative feed-body">
                    <h4 class="font-xsssss text-grey-500 text-uppercase fw-700 ls-3">CONTACTS</h4>
                    <ul id="ActiveUsers"  class="list-group list-group-flush">                   
                        
                    </ul>
                     

                </div>